body {
    background-color: rgb(118, 68, 17);
    color: rgba(226, 213, 172, 0.527);
}

h1 { 
    font-size: 100px;
    font-family: 'Garamond';
    font-style: oblique;
    text-align: center;
    background-color: rgba(226, 213, 172, 0.062);

}

img{
    width: 100%;
    height: auto;
}

.rezeptz-overview {
    text-align: left;
}

h3 {
    font-size: 40px;
    background-color: rgba(226, 213, 172, 0.062);
    font-family: 'Garamond';
}

.description {
    font-size: 20px;
}

.rezeptz-image{
    width: 500px;
    text-align: left;
}

body > a{
    font-size: 10;
    text-align: right;
}

#home {
    font-size: 30px;
    text-align: right;
}